.categories {
  padding: 6rem 2rem 1rem 2rem;
  color: var(--text-color-primary);
  background-color: var(--background-color);
  position: fixed;
  z-index: 1;
  width: 100vw;
  }

  .categories-container{
    width: 100vw;
    background-color: var(--background-color);
   
  }

  .border-bottom{
    border-bottom: 1px solid black;
  }

  .display-none{
    opacity: 0;
    border: none;
    background: none;
   
  }
  
  
  .gap-large {
    gap: 2.5rem;
  }

  button{
    border-radius: 50px;
    width: 30px;
    height: 30px;
  }

  button span{
   align-content: center;
  }


 
  
 